[submodule "extensions/Opencursor-submodule"]
	path = extensions/Opencursor-submodule
	url = https://github.com/riftsh/Opencursor-submodule.git
	branch = main
[submodule "extensions/Opencursor-Roo-Code"]
	path = extensions/Opencursor-Roo-Code
	url = https://github.com/riftsh/Opencursor-Roo-Code
        branch = main
